{% extends 'market/base.html' %}
{% block title %}Seller Table{% endblock %}
{% block content %}
<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Manager</th>
      <th scope="col">Nickname</th>
      <th scope="col">Phone</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>
    {% for seller in seller_data %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{seller.supervisor}}</td>
        <td>{{seller.nickname}}</td>
        <td>{{seller.phone}}</td>
        <td>{{seller.email}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}